[Unit]
Description=Run replug-fiio.sh after resume from suspend/hibernate
After=suspend.target

[Service]
Type=oneshot
ExecStart=%h/shell-scripts/replug-fiio.sh

[Install]
WantedBy=suspend.target

