[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:BeauTaapken/kickstart.nvim.git
	branch = master
[submodule ".config/kickstart.nvim"]
	path = .config/kickstart.nvim
	url = git@github.com:BeauTaapken/kickstart.nvim.git
