* {
    font: "BitstromWera Nerd Font 14";
    background:     rgba(6,2,6, 0.8);
    background-alt: rgba(23,10,25, 0.15);
    foreground:     #e0e0e0;
    selected:       rgba(171,73,78, 0.7);
    active:         rgba(175,141,75, 1);
    urgent:         rgba(171,73,78, 1);
}
